<a href="https://colab.research.google.com/github/Real-Raj-kumar/Rajendra/blob/master/python_lab-2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#WAP to display simple interest and compound interest
P = input("\n Enter the principal amount: ")
T = (input("\n Enter the time: ")
R = input("\n Enter the rate: ")
Si = (int(P) * float(T) * float(R) ) /100
Ci = int(P) * (((1 + float(R)/100) ** int(T)) - 1)
print("\n Simple interest is : ",Si)
print("\n Compound interest is : ",Ci)

 Enter the principal amount: 200000

 Enter the time: 3

 Enter the rate: 25

 Simple interest is :  150000.0

 Compound interest is :  190625.0

In [3]:
#WAP to input first name, middle name and last name into the three variables then apply concatenation.
Fn = input("\n Enter First name : ")
Mn = input("\n Enter Middle name : ")
Ln = input("\n Enter last name : ")
print("Full Name is : " + Fn + " " + Mn + " " + Ln )

 Enter First name : Rajendra

 Enter Middle name : Kumar

 Enter last name : Mahanta
Full Name is : Rajendra Kumar Mahanta

In [5]:
#WAP to create a list with multiple dimention and display the elements.
a = [ [2, 4, 6, 8 ],  
    [ 1, 3, 5, 7 ],  
    [ 8, 6, 4, 2 ],  
    [ 7, 5, 3, 1 ] ]          
for i in range(len(a)) :  
    for j in range(len(a[i])) :  
        print(a[i][j], end=" ") 
    print()

2 4 6 8
1 3 5 7
8 6 4 2
7 5 3 1

In [4]:
#WAP to implement type conversion of different data types.
num_int = int(input("Enter an integer "))
num_flo = float(input("Enter a float"))
num_new = num_int + num_flo
print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))
print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

Enter an integer 23
Enter a float43.8
datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 66.8
datatype of num_new: <class 'float'>

In [9]:
#WAP to find the distance between two points using pythogorean theorem where the coordination of two points are given.
import math
print("Enter first coordinate")
x1 =int(input("Enter x1 value :"))
y1 =int(input("Enter y1 value :"))
print("Enter second coordinate")
x2 =int(input("Enter x2 value :"))
y2 =int(input("Enter y2 value :"))
d = math.sqrt((x2-x1)**2+(y2-y1)**2)
print("The distance between these two given points are :  ",d)

Enter first coordinate
Enter x1 value :2
Enter y1 value :3
Enter second coordinate
Enter x2 value :4
Enter y2 value :5
The distance between these two given points are :   2.8284271247461903