<a href="https://colab.research.google.com/github/Real-Raj-kumar/Rajendra/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#Create a list with Tuples inside it(Series) calculate the sum of elements in tuple and store thew sum of tuples in record
def test(lst):
    result =  map(sum, lst)
    return list(result)
nums = [(1,2,5), (2,3,8), (3,4,6)]
print("Original list of tuples:")
print(nums)
print("\nSum of all the elements of each tuple stored the sum of tuples:")
print(test(nums))
nums = [(1,2,6), (2,3,-6), (3,4), (2,2,2,2)]

Original list of tuples:
[(1, 2, 5), (2, 3, 8), (3, 4, 6)]

Sum of all the elements of each tuple stored the sum of tuples:
[8, 13, 13]

In [10]:
#Wap a to create a list and input numbers into it,then remove the repeated elements from it and display it back
def Remove(duplicate):
	final_list = []
	for num in duplicate:
		if num not in final_list:
			final_list.append(num)
	return final_list
duplicate = [2, 4, 10, 20, 5, 2, 20, 4]
print(Remove(duplicate))

[2, 4, 10, 20, 5]

In [20]:
#Wap a to create a list and input numbers into it,then remove the repeated elements from it and display it back
def Remove(duplicate):
	final_list = []
	for num in duplicate:
		if num not in final_list:
			final_list.append(num)
	return final_list
num=int(input("enter how many number you want to insert\n"))
list=[]
print("Enter the value for the list")
for i in range(0,num):
    x = int(input("\n"))
    list.append(x)
print("Given list is")
print(list)
print("List wiothout duplication")
print(Remove(list))

enter how many number you want to insert
8
Enter the value for the list

1

2

1

1

4

5

6

4
Given list is
[1, 2, 1, 1, 4, 5, 6, 4]
List wiothout duplication
[1, 2, 4, 5, 6]